
.wrap {
  height: 555px;
  width: 514px;
  border-radius: 2px;
}

//@primary-color          : #2db7f5;

@primary-color: #1eb7bc;

.selectWrap {
}


.selectedResult{
  ul{
    height: 200px;
  }
  li{
    float: left;
  }

}
.selectDept, .selectPerson {
  float: left;
  border: 1px solid #ddd;
  height: 336px;
  width: 220px;
  padding: 10px 25px;

}

.deptTreeWrap {
  height: 300px;
  overflow: scroll;

}

.personListWrap {
  height: 280px;
  overflow: scroll;
}
