


.wrap {
  height: 555px;
  width: 514px;
  border-radius: 2px;
}

//@primary-color          : #2db7f5;

@primary-color: #1eb7bc;

.selectWrap{
}

.selectDept, .selectPerson{
  float: left;
  border: 1px solid #ddd;
  height: 336px;
  width: 220px;
  padding: 10px 25px;

}

.deptTreeWrap, .personListWrap{

}
